{% extends "base.html" %}
{% load static %}

{% block extrascript %}
<link href="{% static "select2-2.1/select2.css" %}" rel="stylesheet">
<script src="{% static "select2-2.1/select2.js" %}"></script>
<script>
    var stars = [
        {% for star in stars %}
        {'id': '{{star.id}}', 'text': '{{star}}'}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];

    $(document).ready(function() {
        $('#addMatch').click(function() {
            var newform = '<div class="matchform" id="match-MATCH_NUM"> \
<h4>Match #MATCH_NUM</h4> \
<table class="table"><tbody id="tbody-MATCH_NUM"> </tbody></table> \
<input type="hidden" class="star-select" name="winner" /> \
<select class="outcome-select" name="outcome"> \
{% for val, name in OUTCOMES %} <option value="{{val}}">{{name}}</option> {% endfor %} \
</select> \
<select class="title-select" name="title"> \
<option value="" selected="selected">(no title at stake)</option> \
{% for val, name in TITLES %} <option value="{{val}}">{{name}}</option> {% endfor %} \
</select> \
<br><label>Notes</label> <input type="text" class="span6" name="notes"> \
<br><button class="btn addteam-btn">Add Team</button> <button class="btn addmember-btn">Add Member</button> <button class="btn btn-danger delete-btn">Delete Match</button> </div>';
            var num_matches = $('.matchform').length+1;
            $('#all-matches').append(newform.replace(/MATCH_NUM/g, num_matches));

            var last = $($('#all-matches').children().last()[0]);

            last.find('.star-select').last().select2({
                data:stars,
                allowClear: true,
                placeholder: 'Winner'
            });

            last.find('.delete-btn').click(function() {
                $(this).parent().remove();
                return false;
            });

            last.find('.addteam-btn').click(function() {
                add_team($(this).parent());
                return false;
            });

            last.find('.addmember-btn').click(function() {
                $(this).parent().find('tr').each(function(i, e) {
                    add_member(e, 1, i+1);
                });
                return false;
            });

            // add 2 teams
            add_team(last);
            add_team(last);

            return false;
        });
    });

    var add_team = function(matchdiv) {
        var match_num = $(matchdiv)[0].id.replace(/match-/, '');
        var team_num = $(matchdiv).find('tr').length+1;
        var template = '<tr id="row-MATCHNUM-TEAMNUM"> <th>team #TEAMNUM</th> </tr>';
        template = template.replace(/MATCHNUM/g, match_num);
        template = template.replace(/TEAMNUM/g, team_num);
        $(matchdiv).find('tbody').append(template);
        add_member($(matchdiv).find('tr').last(), match_num, team_num);
    };

    var add_member = function(tr) {
        var pieces = $(tr)[0].id.split('-');
        var match_num = pieces[1];
        var team_num = pieces[2];
        var template = '<td><input type="hidden" style="width: 150px;" class="star-select" name="members-MATCHNUM-TEAMNUM" /></td>';
        template = template.replace(/MATCHNUM/g, match_num);
        template = template.replace(/TEAMNUM/g, team_num);
        $(tr).append(template);
        $(tr).find('input').last().select2({
            data:stars,
            allowClear: true,
            placeholder: '------',
        });
    };
</script>
{% endblock %}

{% block content %}
<form class="well form-inline" action="." method="post">
    <label>Show Name</label>
    <input type="hidden" name="id" value="{{event.id}}">
    <input type="text" class="span3" name="name" value="{{event.name}}"
      placeholder="RAW/Smackdown/PPV Name">
    <label>Date</label>
    <input type="text" class="span3" name="date" value="{{event.date}}" placeholder="YYYY-MM-DD">
    <div id="all-matches"> </div>
    <div>
    <button class="btn" id="addMatch">Add Match</button>
    {% csrf_token %}
    <input type="submit" value="Save Event" class="btn btn-primary"/>
    </div>
</form>
{% endblock %}
