{% extends "base.html" %}
{% load static %}
{% block title %} Events {% endblock %}

{% block content %}
<header class="jumbotron subhead" id="overview">
<h1>Events</h1>
<p class="lead">Every event that has taken place on RAW, Smackdown, and on
PPVs, since the creation of this league.</p>
</header>

{% for event in events %}

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle event-title" data-toggle="collapse"
            data-parent="#accordion" href="#event-{{event.id}}">
                {{event.name}} - {{event.date}}
        </a>
        <span class="score-container">
            {% for team,score in event.scores.iteritems %}
                <span class="label" style="background-color: #00aa00;">{{team}}: {{score}}</span>
            {% endfor %}
        </span>
    </div>

    <div id="event-{{event.id}}" class="accordion-body collapse">
    <div class="accordion-inner">
    <table class="table">
        <thead>
          <tr>
            <th>Event</th>
            <th>Scoring</th>
          </tr>
        </thead>
        <tbody>
            {% for match, tp_list in event.match_list.items %}
        <tr>
            <td>
                <p>{{match}}</p>
                <p class="match-notes">{{match.notes}}</p>
            </td>
            <td>
                <ul>
                    {% for tp in tp_list %}
                    {% if tp.points %}
                    <li> {{tp.team}} received {{tp.points}}
                        point{{tp.points|pluralize}} for {{tp.star}}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    </div>
    </div>
</div>

{% endfor %}
</div>
{% endblock %}
