{% extends "base.html" %}
{% load static %}
{% block title %} Roster {% endblock %}

{% block content %}
<header class="jumbotron subhead" id="overview">
<h1>Roster</h1>
  <p class="lead">The WWE Roster</p>
</header>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Raw</th>
      <th>Smackdown</th>
      <th>Divas</th>
    </tr>
  </thead>
  <tbody>
    {% for star_set in star_sets %}
    <tr>
      {% for star in star_set %}
      <td>{{star}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Others</h2>
  <ul>
    {% for other in others %}
    <li>{{other}}</li>
    {% endfor %}
  </ul>

{% endblock %}
