{% extends "base.html" %}
{% load static %}
{% block title %} Events {% endblock %}

{% block content %}
<header class="jumbotron subhead" id="overview">
<h1>Stables</h1>
  <p class="lead">Every event that has taken place on RAW, Smackdown, and on PPVs, since the creation of this league.</p>
</header>

<table class="table">
  <thead>
    <tr>
      <th> </th>
      <th>GM Punk</th>
      <th>I'm AWEsome</th>
      <th>COBRA!</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Raw 1</td>
      <td>CM Punk</td>
      <td>Brodus Clay</td>
      <td>Santino</td>
    </tr>
    <tr>
      <td>Raw 2</td>
      <td>Kane</td>
      <td>John Cena</td>
      <td>Dolph Ziggler</td>
    </tr>
    <tr>
      <td>Raw 3</td>
      <td>R Truth</td>
      <td>Chris Jericho</td>
      <td>Kofi Kingston</td>
    </tr>
    <tr>
      <td>Smackdown 1</td>
      <td>Cody Rhodes</td>
      <td>Sheamus</td>
      <td>Alberto del Rio</td>
    </tr>
    <tr>
      <td>Smackdown 2</td>
      <td>Sin Cara</td>
      <td>Daniel Bryan</td>
      <td>Randy Orton</td>
    </tr>
  </tbody>
</table>

{% endblock %}
