{% extends "base.html" %}
{% load static %}
{% block title %} League {% endblock %}

{% block content %}
<header class="jumbotron subhead" id="overview">
<h1>League</h1>
  <p class="lead">An overview of our league</p>
</header>
<br><br>
<h2>Belts</h2>

<div class="row-fluid"> 
  <!-- begin belt block -->
  {% for belt in belts %}
  <div class="span3">
    <table class="table">
      <thead>
        <tr>
          <td class="belt-img" colspan="2"><img src="{% get_static_prefix %}images/{{belt}}.png"></td>
        </tr>
      </thead>
      <tody>
        <tr>
          <td>Title holder:</td>
          <td>I'm AWEsome</td>
        </tr>
        <tr>
          <td>Held Since:</td>
          <td>5/18/2012</td>
        </tr>
        <tr>
          <td>Reign:</td>
          <td>8</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endfor %}
  <!-- end belt block -->

</div>

<br><br><br>
<h2> Stables </h2>
<br><br>
<table class="table">
  <thead>
    <tr>
      {% for team in teams %}
      <th>{{team}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
   {% for star_set in star_sets %}
    <tr>
        {% for star in star_set %}
      <td>{{star}}<span class="label {{star.division}}">{{star.division}}</span></td>
        {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
