{% extends "base.html" %}
{% load static %}
{% block title %} League {% endblock %}

{% block content %}
<header class="jumbotron subhead" id="overview">
<h1>League</h1>
  <p class="lead">An overview of our league</p>
</header>
<br><br>
<h2>Belts</h2>
<br><br>
<div class="row-fluid"> 
  <!-- begin belt block -->
  {% for belt in belts %}
  <div class="span3">
    <table class="table">
      <thead>
        <tr>
          <td class="belt-img" colspan="2"><img src="{% get_static_prefix %}images/{{belt}}.png"></td>
        </tr>
      </thead>
      <tody>
        <tr>
          <td>Title holder:</td>
          <td>I'm AWEsome</td>
        </tr>
        <tr>
          <td>Held Since:</td>
          <td>5/18/2012</td>
        </tr>
        <tr>
          <td>Reign:</td>
          <td>8</td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endfor %}
  <!-- end belt block -->

</div>

<br><br><br>
<h2> Stables </h2>
<table class="table">
  <thead>
    <tr>
      <th>GM Punk</th>
      <th>I'm AWEsome</th>
      <th>COBRA!</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>CM Punk</td>
      <td>Brodus Clay</td>
      <td>Santino</td>
    </tr>
    <tr>
      <td>Kane</td>
      <td>John Cena</td>
      <td>Dolph Ziggler</td>
    </tr>
    <tr>
      <td>R Truth</td>
      <td>Chris Jericho</td>
      <td>Kofi Kingston</td>
    </tr>
    <tr>
      <td>Cody Rhodes</td>
      <td>Sheamus</td>
      <td>Alberto del Rio</td>
    </tr>
    <tr>
      <td>Sin Cara</td>
      <td>Daniel Bryan</td>
      <td>Randy Orton</td>
    </tr>
  </tbody>
</table>

{% endblock %}
